# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost/companies")

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
# Your Code
db = client.get_database()
list(db.list_collections())
db['companies'].find_one({'name': 'Babelgum'})

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
# Your Code
list(db['companies'].find({'number_of_employees':{'$gt': 5000}}).limit(20).sort('number_of_employees'))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
# Your Code
list(db['companies'].find({'founded_year':{'$gte': 2000, '$lte':2005}},{'name': 1, 'founded_year':1, '_id':0}))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
# Your Code
list(db['companies'].find({'$and': [{'ipo.valuation_amount':{'$gt': 100000000}},{'founded_year': {'$lt':2010}}]}))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code
list(db['companies'].find({'$and':[{'number_of_employees':{'$lt':1000}},{'founded_year':{'$lt':2005}}]}).sort('number_of_employees').limit(10))

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code
list(db['companies'].find({'partners':{'$exists': False}}))

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code
list(db['companies'].find({'category_code':{'$type':'null'}}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code
list(db['companies'].find({'number_of_employees':{'$gte': 100,'$lt':1000}}, {'name':1,'number_of_employees': 1,'_id': 0}))

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code
list(db['companies'].find().limit(1000).sort('ipo'))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code
list(db['companies'].find().sort('number_of_employees', -1).limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code
list(db['companies'].find({'founded_month':{'$gt': 6}}).limit(1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code
list(db['companies'].find({'$and':[{'founded_year':{'$lt':2000}},{'acquisition.price_amount': {'$gt': 10000000}}]}))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code
list(db['companies'].find({'acquisition.acquired_year': {'$gt': 2010}},{'name':1, 'acquisition':1,'_id':0}).sort('acquisition_amount'))

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code
db['companies'].create_index([('founded_year',1)])
list(db['companies'].find({},{'name': 1,'founded_year':1,'_id':0}).sort('founded_year',-1))

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code
list(db['companies'].find({'$and':[{'founded_day':{'$lte': 7}},{'aquisition':{'$ne':None}}]}).sort('aquisition.price_amount',-1).limit(10))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
list(db['companies'].find({'$and': [{'category_code':'web'},{'number_of_employees':{'$gt':4000}}]}).sort('number_of_employees'))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code
list(db['companies'].find({'$and':[{'acquisition.price_currency_code':'EUR'},{'acquisition.price_amount':{'$gt': 10000000}}]}))

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code
list(db['companies'].find({'founded_month':{'$lte':4}}, {'name':1,'acquisition':1}).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code
list(db['companies'].find({'$and':[{'founded_year':{'$gte':2000,'$lt':2010}},{'$or': [{'aquisition.aquired_year':{'$gt':2011}},{'acquisition':None}]}]}))

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code
results = list(db['companies'].aggregate(
   [
     { '$project': { 'item': 1, 'total': { '$subtract': [ "$deadpooled_year", "$founded_year" ] } } }
   ]
))

hey = [res['_id'] for res in results if res['total'] != None and res['total'] > 3]

[list(db['companies'].find({'_id':h})) for h in hey]